.filtarable{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px 22px;
}

.searchBox input{
    width: 100%;
    height: 40px;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 0 10px;
    font-size: 16px;
    outline: none;
}

body.dark .searchBox input{
    background: #343a40;
    color: #fff;
}

.sortable select{
    height: 40px;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 0 10px;
    font-size: 16px;
    outline: none;
}

body.dark .sortable select {
    background: #343a40;
    color: #fff;
}